@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --bg-theme: hsl(222, 26%, 31%);
    --bg-toggle-keypad: hsl(223, 31%, 20%);
    --bg-screen: hsl(224, 36%, 15%);
    --bg-del-reset-key:  hsl(225, 21%, 49%);
    --key-shadow-del-reset: hsl(224, 28%, 35%);
    --bg-keys: hsl(30, 25%, 89%);
    --key-shadow-keys:  hsl(28, 16%, 65%);
    --bg-result-toggle-key: hsl(6, 63%, 50%);
    --key-shadow-result: hsl(6, 70%, 34%); 
    --text-color: hsl(221, 14%, 31%); 
    --white-color:#fff;
}
body{
    background-color: hsl(225, 21%, 49%);
    font-family: 'League Spartan', sans-serif;
}
.container{
    width:30%;
    margin:auto;   
    display: grid; 
    margin-top:6%;
    height:70vh;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    color:white;
    flex-direction: column;
    position: relative;
}
.theme_switcher{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.themeBox h3{
    font-size:1.8em;
}
input:checked {
    background-color: var(--bg-result-toggle-key);
}
input:checked:hover{
    background-color: hsl(6, 63%, 60%);
}
  
label {
    position: relative;
    top:-20px;
    cursor:pointer;
    left:10px;
}
.theme_switcher p{
    padding-right: 10px;
    margin-top: 3%;
    font-size: 0.8em;
}
[type="radio"]{
    cursor: pointer;
}
label[for="theme1"] {
    left: 10px;
}
  
label[for="theme2"] {
    left: 22px;
}
  
label[for="theme3"] {
    left: 34px;
}
.theme_switcherBtn{
    height: 1.2em;
    width: 5em;
    border-radius: 30px;
    background-color: var(--bg-toggle-keypad);
    position: relative;
}
  
[id="theme1"], [id="theme2"], [id="theme3"] {
    appearance: none;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    top: 2px;
    transition: 0.5s;
}
[id="theme1"] { 
    left: 6px;
}
  
[id="theme2"] {
    left: 30px;
}
  
[id="theme3"] {
    left: 55px;
}
.themeBox{
    display: flex;
    justify-content: space-between;
    padding: 0 0.6em;
    margin-bottom:2%;
}
.calc_details{
    background-color:  hsl(223, 31%, 20%);
    display: grid;
    width:100%;
    padding:0.8em;
    grid-template-columns: repeat(4,2.5em);
    font-size: 32px;
    justify-content: center;
    gap:0.6em;
    font-weight: 700;
    border-radius: 0.4em;
    grid-template-areas: 
                        'col_1 col_2 col_3 col_4'
                        'col_1 col_2 col_3 col_4' 
                        'col_1 col_2 col_3 col_4'
                        'col_1 col_2 col_3 col_4'
                        'col_5 col_5 col_5 col_5';
}
.layout_row{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1.5em);
    row-gap: 0.6em;
}
.col_1{
    grid-area: col_1;
}
.col_2{
    grid-area: col_2;
}
.col_3{
    grid-area: col_3;
}
.col_4{
    grid-area: col_4;
}
.col_5{
    grid-area: col_5;
    display: grid;
    text-align: center;
    justify-content: space-between;
    column-gap: 0.6em;
    grid-template-rows: 2em;
    grid-template-columns: repeat(2,5.6em);
}
.console input{
    min-height: 2.5em;
    background-color:hsl(224, 36%, 15%);
    border-radius: 0.4em;
    border: none;
    color:white;
    width: 100%;
    margin-bottom: 2%;
    font-size: 32px;
    font-weight: 700;
    text-align: end;
}
input:focus{
    outline: none;
}
.num_button{
    text-align: center;
    background-color: hsl(30, 25%, 89%);
    padding:0.3em;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 4px var(--key-shadow-keys);
}
.num_button:hover{
    background-color: hsl(30, 25%, 100%) ;
}
.symbol{
    text-align: center;
    border-radius: 0.4rem;
    padding:0.3em;
    border: none;
    cursor: pointer;
    color:white;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 5px var(--key-shadow-del-reset);
}
.symbol:hover{
    background-color: hsl(225, 21%, 75%);
}
#resetBtn{
    padding:0.6em 0;
}
.equalBtn{
    background-color:  hsl(6, 70%, 34%);
    color: white;
    padding:0.6em 0;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 3px var(--key-shadow-result);
}
.equalBtn:hover{
    background-color: hsl(6, 70%, 60%);
}

.attribution{
    font-size:1.5em;
    text-align: center;
    padding:2em;
    line-height: 1.5em;
}
.attribution a{
    color:var(--white-color);
}
/*responsiveness code*/
@media screen and (max-width:480px){
    .container{
        width:90%;
    }
    .header ,.console input,.calc_details{
        width:90%;
    }
    .calc_details{
        grid-template-columns: repeat(4,2em);
        padding:0.4em 0;
        margin:0;
        /* justify-content: space-around; */
        gap:0.4em;
    }
    .layout_row{
        row-gap: 0.4em;
    }
    .col_5{
        padding:0;
        grid-template-columns: repeat(4,4.4em);
        grid-template-rows: 1fr;
        column-gap: 0.4em;
    }
    #del{
        font-size: 0.6em;
        font-weight: 700;
        padding-top:0.7em; 
    }
    #resetBtn,.equalBtn{
        font-size: 25px;
        padding:0.4em 0;
    }
}