@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
:root{
    --white:#fff;
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
}
body{
    background:url(../Assets/bg-pattern-bottom.svg) bottom -600px right -350px no-repeat,url(../Assets/bg-pattern-top.svg) top -600px left -250px no-repeat;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}
.profile_content{
    width:24em;
    height: 32em;
    display: flex;
    flex-direction: column;
    margin:auto;
    position: relative;
    overflow: hidden;
}
.profile-bg{
    background-image: url('../Assets/bg-pattern-card.svg');
    width:100%;
    height: 9rem;
    border-radius: 20px 20px 0 0;
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:0.5;
    border-bottom: 1px solid #d8d9df;
}
.profile img{
    border-radius: 50%;
    border: 7px solid var(--white);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    justify-content: center;
    overflow: hidden;
}
.profile p:first-of-type{
    margin: -40px 0 0 0;  
    font-size: 1.5rem;
    font-weight: 700;
}
.profile p{
    line-height: 42px;
}
.profile .age{
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--Dark_grayish_blue);
}
.city{
    font-size:1.15em;
    color: var(--Dark_grayish_blue);
    font-weight: normal;
}
.profile ,.stats{
    background-color: #fff;
}
.stats{
    display: flex;
    flex: 0.2;
    border-radius: 0 0 20px 20px;
    justify-content: space-evenly;
    padding:2rem 0.6rem;
    color:var(--Dark_grayish_blue);    
}
.stats-content h3{
    font-weight: 700;
    font-size: 1.5em;
}
.stats-content p{
    font-weight: normal;
    font-size: 0.8em;
    letter-spacing: 2px;
}
@media screen and (max-width:375px){
    .profile_content{
        width:20em;
        height: 24em;
    }
}
@media (min-width:480) and (max-width:820px) {
    .profile_content{
        width:24em;
        height: 26em;
    }
}