*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --black:rgba(0,0,0,0.75);
}
body{
    width:80%;
    margin:auto;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}
p{
    font-size:16px;
    color:#69707D ;
}
/* }Header Styles */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0.8rem;
    padding:1.5rem 1.8rem;
    border-bottom: 3px  solid var(--Light_grayish_blue);
    position: relative;
  }
  nav{
      display: flex;
      gap:3em;
      align-items: center;
  }
.closeMenu{
    display: none;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap:1.2em;
    font-size: 1.15rem;
    color:var(--Dark_grayish_blue);
}
.nav-links{
    list-style: none;
  }
.nav-links li a{
    padding:2.2rem 0;
    text-decoration: none;
    transition: 0.06s ease-in;
}
.nav-links li a,
.nav-links li a:visited,
.nav-links li a:active{
    color:var(--black)
}
.nav-links li a:hover{
    color:var(--Very_vark_blue);
    font-weight: 700;
    border-bottom: 3px solid var(--Orange);
}
.call_action{
    display: flex;
    gap:2rem;
}
.cartItems{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.avatar{
    border:2px solid transparent;
    width:3rem;
    cursor: pointer;
}
.avatar:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
  }
.my-cart{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    z-index: 1;
    overflow: hidden;
    top:108%;
    background-color: var(--White);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0,0,0,0.1),0 1.5rem 1rem 1rem rgba(0,0,0,0.1);
}
.my-cart .cart-header{
    font-size: 1.2rem;
    font-weight: 700;
    padding:1.2rem;
    border-bottom: 1px solid var(--Grayish_blue);
}
.my-cart .empty-cart{
    padding:4rem;
    text-align: center;
    font-size:1.2rem ;
    color:var(--Dark_grayish_blue)
}
.my-cart .checkout{
    background-color: var(--Orange);
    color: var(--White);
    font-size: 1.2rem;
    font-weight: 700;
    padding:0.8rem 1.2rem;
    text-align: center;
    margin:1.2rem 1.15rem;
    border-radius: 0.5em;
}
.cart-details{
    padding:0.6em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.4;
}
.item-details{
    display: flex;
    flex-direction: column;
}
.price-details{
    display: flex;
    gap:0.4em;
    font-size: 1.05rem;
    color:var(--Dark_grayish_blue)
}
.item-img{
    width:3rem;
    border-radius: 0.5em;
}
.cartItems{
    display: flex;
    position: relative;
}
.cartItems .cart{
    width:2rem;
}
.total-price{
    color:var(--Black);
    font-weight: 700;
}
#deleteBtn{
    width:1.2rem;
}
#deleteBtn:hover{
    cursor: pointer;
}
.cart-count{
    position: absolute;
    top:1%;
    right: -25%;
    font-size: 0.85em;
    font-weight: 700;
    background-color: var(--Orange);
    color: var(--White);
    border-radius:1rem;
    line-height: 100%;
    padding:.08rem .4rem;
}
/* Content Styles */
.container{
    display: flex;
    margin: auto;
    padding:2rem 3rem;
    gap:5rem;
    justify-content: space-between;
}
.main_product_img{
    max-width:400px;
    height: auto;
    border-radius: 10px;
}
.thumbnail{
    display: flex;
    justify-content: space-between;
    margin-top:1rem;
}
.thumbnail img{
    width:70px;
    border-radius: 10px;
}
.thumbnail img:hover{
    opacity: 0.75;
}
.active{
    opacity: 0.8;
    border:2px solid var(--Orange)
}

/* Product Description Styles */
.product_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product_desc h5{
    color:hsl(26, 100%, 55%);
    text-transform: uppercase;
}
.product_desc h1{
    font-size: 2rem;
    font-weight: 700;
}
.price{
    font-weight: 700;
    font-size: 1.5rem;
}
.off{
    background-color: hsl(25, 100%, 94%);
    color:hsl(26, 100%, 55%);
    font-weight: 500;
    margin-left:15px;
    padding:0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}
.prev_price{
    text-decoration-line: line-through;
    font-size: 1.05rem;
    font-weight: 700;
    display: block;
    color:hsl(220, 14%, 75%);
}
.quantity_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_action{
    width:30%;
    background-color:hsl(223, 64%, 98%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
}
.cartBtn{
    display: flex;
    align-items: center;
    padding:1em 2.5rem;
    justify-content: center;
    width:60%;
    cursor: pointer;
}

.quantity{
    font-weight: 700;
}
.product_action img{
    cursor: pointer;
}

.cartIcon .quantity{
    font-weight: 700;
    font-size: 1.25em;
}
.cartBtn{
    background-color: hsl(26, 100%, 55%);
    border-radius:5px;
    padding:10px 30px;
    border:none;
}
.cartIcon{
    fill:#ffffff;
    width:20px;
    height: 20px;
}
.cart_txt{
    color:#fff;
    font-weight: 700;
    padding:0 0.8rem;
    font-size: 1.2em;
}
/*Other Styles */
.hidden{
    display: none;
}
/* to implement css Media queries */
@media screen and (max-width:768px){
    body{
        width:100%;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        gap:2rem;
        line-height: 2rem;
    }
    .header{
        border: none;
        padding:0.8em 1rem;
        margin-bottom:0.1rem;
    }
    .hambuger-group{
        display: flex;
        flex-direction: row;
        gap:10px;
        cursor: pointer;
    }
    .hambuger_menu{
        height: fit-content;
        padding-top:4.5%;
    }
    .menu{
        background-color: rgba(0, 0, 0,0.75);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 1;
        transition: 0.5s ease-in-out;
    }
    .closeMenu{
    display: block;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    }
    .closeMenu:hover{
    transform: rotate(135deg);
    }
    .my-cart{
        width:94%;
    }
    .nav_link{
        background-color: #fff;
        width:66vw;
        font-size: 1.3rem;
        height:100%;
        font-weight: 700;
        padding:2rem;
    }
    .nav-links{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap:2rem;
    } 
.nav_links{
    display: flex;
    justify-content: space-evenly;
    align-self: center ;
    padding:0.2em;
}
.nav_links ul{
    display: none;
}
.call_action{
    display: flex;
    gap:20px
}
.cartItems{
    display: flex;
    align-items: center;
}
.thumbnail{
        display: none;
}
.product_image{
        position: relative;
}
.img_controls{
    top:50%;
    position: absolute;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width:2.5rem;
    height: 2.5rem;
    transition:0.5s ease-in;
    cursor: pointer;
}
.pre-img:hover{
    left:2%;
}
.next-img:hover{
    right:2%;
}
.pre-img {
    left:4.5%;
}
.next-img{
    right:4%;
}
.product_desc{
    width:90%;
    display:flex;
    margin:auto;
    align-content: space-between;
    justify-content: center;

}
.product_image{
    width:100%;
    display: flex;
    flex-direction: column;
}
.main_product_img{
    max-width: 100%;
    height: auto;
    border-radius: 0;
}
.Price{
    display: flex;
    justify-content: space-between;
    margin:1.5em 0;
    align-items: center;
}
.quantity_action{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.product_action{
    width:100%;
    margin:1.5em;
    padding:0.8em;
}
.cartBtn{
    width: 100%;
    padding:0.8em;
}
}
@media (min-width:1024px){
    .container{
        gap:4rem;
    }
    .cartIcon{
        width:fit-content;
        height:fit-content;
    }
    .menu{
        display: flex;
    }
    .my-cart{
        width:25.5em;
        right:0;
        top:80%;
    }
    .img_controls,.hambuger_menu{
        display: none;
    }
    .cart_txt{
        font-size: 1.2em;
    }
}
@media (min-width:820px ) and (max-width:1024px){
    .container{
        width:90%;
        gap:1.5rem;
        padding:0.7rem;
    }
    body{
        width:95%;
    }
    .menu{
        display: flex;
    }
    .main_product_img{
        max-width:340px;
        height: auto;
        border-radius: 10px;
    }
    .overlay-thumbnail img{
        width:60px;
    }
    .img_controls,.hambuger_menu{
        display: none;
    }
    .product_desc{
        width:60%;
        margin:auto 2%;
    }
    .cartIcon{
        width:fit-content;
        height:fit-content;
    }
    .cart_txt{
        font-size: 1.05em;
    }
    .cartIcon .quantity{
        font-weight: 700;
        font-size: 1.05em;
    }
    .cartBtn{
        padding:0.4rem 0.6rem;
    }
    .product_action{
        padding:0.4rem 0.8rem;
    }
}
/* to implement between the width of 768 to 820px */
@media (min-width:768px) and (max-width:820px){
    .container{
        width:100%;
        gap:1.05rem;
        padding:1.05rem 1rem;
    }
    .main_product_img{
        max-width:300px;
        height: auto;
        border-radius: 10px;
    }
    .img_controls,.hambuger_menu{
        display: none;
    }
    .cartIcon{
        width:fit-content;
        height:fit-content;
    }
    .cart_txt{
        font-size: 0.8em;
    }
    .cartIcon .quantity{
        font-weight: 700;
        font-size: 0.8em;
    }
    .cartBtn{
        padding:0.6rem 0.4rem;
    }
    .product_action{
        padding:0.6rem 0.8rem;
    }
}

/* Styles for Light Box styling*/
.lightBoxOverlay{
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: var(--black);
    position: absolute;
}
.OverlayProductImg{
    margin: 3rem auto auto auto;
    position: relative;
    width:40%;    
    height: auto;
}
.closeOverlayImg{
    display: flex;
    padding:1rem;
    justify-content: end;
}
.overlayMainProductImage{
    border-radius: 1rem;
    margin: auto;
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-thumbnail{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto auto auto;
    align-items: center;
}
.overlayImgControls{
    position: absolute;
    top:40%;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width:2.5rem;
    height: 2.5rem;
    transition:0.5s ease-in;
}
.preOverlay{
    left:-4%;
}
.nextOverlay{
    right: -4%;
}
.overlay-thumbnail img{
    width:70px;
    border-radius: 10px;
}
.thumbnail img:hover{
    opacity: 0.75;
}
.closeOverlayImg, .nextOverlay,.preOverlay{
    cursor: pointer;
}
.overlay-active{
    opacity:0.75;
    border: 2px solid var(--Orange);
}