*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
body{
    width:80%;
    margin:auto;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}
p{
    font-size:16px;
    color:#69707D ;
}
/* }Header Styles */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    padding:1.5rem;
    border-bottom: 1px  solid var(--Grayish_blue);
  }
.closeMenu{
    display: none;
}
.nav-links{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap:10px;
}
.call_action{
    display: flex;
    gap:2rem;
}
.cartItems{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.avatar{
    border:2px solid transparent;
    width:3rem;
    cursor: pointer;
}
.avatar:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
  }
  .nav-links{
    list-style: none;
  }
  .nav-links li a{
    text-decoration: none;
  }
  .nav-links li a,
  .nav-links li a:visited,
  .nav-links li a:active{
    color:var(--black)
  }
  .cartItems{
    display: flex;
    position: relative;
}
.cartItems .cart{
    width:2rem;
}
.cart-count{
    position: absolute;
    top:1%;
    right: -25%;
    font-size: 0.85em;
    font-weight: 700;
    background-color: var(--Orange);
    color: var(--White);
    border-radius:1rem;
    line-height: 100%;
    padding:.08rem .4rem;
}
/* Content Styles */
.container{
    display: flex;
    margin-top:5%;
    width:90%;
    margin: auto;
    justify-content: space-between;
}
.main_product_img{
    max-width:400px;
    height: auto;
    border-radius: 10px;
}
.thumbnail{
    display: flex;
    justify-content: space-between;
}
.thumbnail img{
    width:70px;
    border-radius: 10px;
}
.active{
    background-color: rgba(255, 255, 255,0.4);
}
/* Product Description Styles */
.product_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:45%;
}
.product_desc h5{
    color:hsl(26, 100%, 55%);
    text-transform: uppercase;
}
.product_desc h1{
    font-size: 2rem;
    font-weight: 700;
}
.price{
    font-weight: 700;
    font-size: 1.5rem;
}
.off{
    background-color: hsl(25, 100%, 94%);
    color:hsl(26, 100%, 55%);
    font-weight: 500;
    margin-left:15px;
    padding:0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}
.prev_price{
    text-decoration-line: line-through;
    font-size: 1.05rem;
    font-weight: 700;
    display: block;
    color:hsl(220, 14%, 75%);
}
.quantity_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_action{
    width:30%;
    background-color:hsl(223, 64%, 98%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
}
.cartBtn{
    display: flex;
    align-items: center;
    padding:1em 2.5rem;
    justify-content: center;
    width:60%;
}

.quantity{
    font-weight: 700;
}
.product_action img{
    cursor: pointer;
}

.cartIcon .quantity{
    font-weight: 700;
    font-size: 1.25em;
}
.cartBtn{
    background-color: hsl(26, 100%, 55%);
    border-radius:5px;
    padding:10px 30px;
    border:none;
}
.cartIcon{
    fill:#ffffff;
    width:20px;
    height: 20px;
}
.cart_txt{
    color:#fff;
    font-weight: 700;
    padding:0 0.8rem;
    font-size: 1.2em;
}
/*Other Styles */
.hidden{
    display: none;
}
/* to implement css Media queries */
@media screen and (max-width:768px){
    body{
        width:100%;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header{
        border: none;
        margin-bottom:0.4;
    }
    .hambuger-group{
        display: flex;
        flex-direction: row;
        gap:10px;
        cursor: pointer;
      }
      .hambuger_menu{
        height: fit-content;
        padding-top:4.5%;
      }
      .menu{
        background-color: rgba(0, 0, 0,0.75);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 1;
        transition: 0.5s ease-in-out;
      }
      .closeMenu{
        display: block;
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
      }
      .closeMenu:hover{
        transform: rotate(135deg);
      }
      .nav_link{
        background-color: #fff;
        width:66vw;
        font-size: 1.3rem;
        height:100%;
        font-weight: 700;
        padding:2rem;
      }
      .nav-links{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap:2rem;
      }
      .nav-links li a::after{
        content:"";
        width:0%;
        height:2px;
        margin:auto;
        display:block;
        transition: 0.5s;
        background:var(--Orange);
      }
      .nav-links li a:hover::after{
        width:100%;
      }
      .call_action{
        display: flex;
        gap:20px
      }
      .cartItems{
        display: flex;
        align-items: center;
    
      }
    .product_image{
        position: relative;
    }
    .thumbnail{
        display: none;
    }
    .nav_links{
        display: flex;
        justify-content: space-evenly;
        align-self: center ;
        padding:0.2em;
    }
    .nav_links ul{
        display: none;
    }
    .img_controls{
        width:5%;
        height: auto;
        display: inline;
        position: absolute;
    }
    .prev_img{
        left:0;
        top:50%;
        bottom: 50%;
        margin-left:0.8em;
    }
    .next_img{
        top:50%;
        right:0;
        bottom: 50%;;
    }
    .product_desc{
        width:90%;
        display:flex;
        margin:8% auto;
    }
    .product_image{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .main_product_img{
        max-width: 100%;
        height: auto;
        border-radius: 0;
    }
    .Price{
        display: flex;
        justify-content: space-between;
        margin:1.5em 0;
        align-items: center;
    }
    .quantity_action{
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }
    .product_action{
        width:100%;
        margin:1.5em;
        padding:0.8em;
    }
    .cartBtn{
        width: 100%;
        padding:0.8em;
    }
}
@media (min-width:1024px){
    .cartIcon{
        width:fit-content;
        height:fit-content;
    }
    .cart_txt{
        font-size: 1.2em;
    }
}
@media (min-width:820px ) and (max-width:1024px){
    .container{
        width:100%;
    }
    .main_product_img{
        max-width:340px;
        height: auto;
        border-radius: 10px;
    }
    .product_desc{
        width:60%;
        margin:auto 2%;
    }
    .cartIcon{
        width:fit-content;
        height:fit-content;
    }
    .cart_txt{
        font-size: 1.05em;
    }
    .cartIcon .quantity{
        font-weight: 700;
        font-size: 1.05em;
    }
    /* .product_action{
        padding: 0.7em;
    } */

}